<!DOCTYPE html>
<html>
    <head>
   
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MediConnect</title>
  <!-- plugins:css -->
  <!-- Fullcalendar -->
  <link rel="stylesheet" href="{{asset('back/vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{asset('back/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{asset('back/vendors/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{asset('back/vendors/select2/select2.min.css')}}">
  <link rel="stylesheet" href="{{asset('back/vendors/select2-bootstrap-theme/select2-bootstrap.min.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{asset('back/css/vertical-layout-light/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{asset('back/images/logo1.png')}}" />
</head>

    <body>
        {% block body %}{% endblock %}
 <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.  MediConnect</span>
           
          </div>
        </footer>
<!-- container-scroller -->
<!-- Fullcalendar -->
  <!-- plugins:js -->
  <script src="{{asset('back/vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{asset('back/vendors/typeahead.js/typeahead.bundle.min.js')}}"></script>
  <script src="{{asset('back/vendors/select2/select2.min.js')}}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{asset('back/js/off-canvas.js')}}"></script>
  <script src="{{asset('back/js/hoverable-collapse.js')}}"></script>
  <script src="{{asset('back/js/template.js')}}"></script>
  <script src="{{asset('back/js/settings.js')}}"></script>
  <script src="{{asset('back/js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{asset('back/js/file-upload.js')}}"></script>
  <script src="{{asset('back/js/typeahead.js')}}"></script>
  <script src="{{asset('back/js/select2.js')}}"></script>
  <script src="{{asset('back/vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{asset('back/vendors/typeahead.js/typeahead.bundle.min.js')}}"></script>
  <script src="{{asset('back/vendors/select2/select2.min.js')}}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{asset('back/js/off-canvas.js')}}"></script>
  <script src="{{asset('back/js/hoverable-collapse.js')}}"></script>
  <script src="{{asset('back/js/template.js')}}"></script>
  <script src="{{asset('back/js/settings.js')}}"></script>
  <script src="{{asset('back/js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{asset('back/js/file-upload.js')}}"></script>
  <script src="{{asset('back/js/typeahead.js')}}"></script>
  <script src="{{asset('back/js/select2.js')}}"></script>
    <!-- Custom js for this page-->

  <link rel="stylesheet" href="{{asset('front/css/bootstrap.min.css')}}">

    </body>
</html>
